Repository memic-graduation/frontend, pull requests merged in 2024-06, with the labels that each got.

#42 Feat/#41 마이페이지 단어장 컴포넌트 구현
  src/components/MyPage/SearchBar.tsx
  src/components/MyPage/Words/WordTable.tsx
  src/components/MyPage/Words/Words.tsx
  src/styles/GlobalStyles.ts
Labels: fix, feat, style

#44 Feat/#40
  package-lock.json
  package.json
  public/index.html
  src/components/MyPage/Dashboard/Accuracy.tsx
  src/components/MyPage/Dashboard/Calendar.tsx
  src/components/MyPage/Dashboard/Dashboard.tsx
  src/components/MyPage/Dashboard/RecentVideo.tsx
  src/components/MyPage/Dashboard/ScrapVideoList.tsx
  src/components/MyPage/Dashboard/Statistics.tsx
  src/components/MyPage/Dashboard/WordsGraph.tsx
  src/components/MyPage/MenuBar.tsx
  src/components/MyPage/TopTitleIndex.tsx
  src/pages/MyPage/MyPage.tsx
  src/pages/MyPage/Styles.ts
  src/recoil/selectors.ts
  src/recoil/states.ts
  src/recoil/types.ts
  src/styles/Colors.ts
Labels: feat, style

#48 Style/#46 녹음 모달창 스타일 수정
  src/components/Modal/ModalButtons/PlaySpeechBtn.tsx
  src/components/Modal/ModalButtons/ReSpeechBtn.tsx
  src/components/Modal/ModalButtons/SpeechBtn.tsx
  src/components/Modal/ModalButtons/StopSpeechBtn.tsx
  src/components/Modal/ModalReResult.tsx
  src/components/Modal/ModalReSpeech.tsx
  src/components/Modal/ModalResult.tsx
  src/components/Modal/ModalSpeech.tsx
  src/components/Modal/Styles.ts
  src/components/Script/Script.tsx
  src/recoil/selectors.ts
  src/recoil/states.ts
Labels: Refactoring, style

#50 Feat/#49 마이페이지 영상 추천 기능 구현
  src/assets/pic1.png
  src/assets/pic2.png
  src/assets/pic3.png
  src/components/Header/Styles.ts
  src/pages/RankPage/RankPage.tsx
  src/pages/RankPage/Styles.ts
  src/utils/getRandomVideos.ts
Labels: feat, style

#51 Feat/#47 마이페이지 api 연동 완료
  package-lock.json
  package.json
  src/components/MyPage/Dashboard/Calendar.tsx
  src/components/MyPage/Dashboard/Dashboard.tsx
  src/components/MyPage/Dashboard/RecentVideo.tsx
  src/components/MyPage/Dashboard/Statistics.tsx
  src/components/MyPage/Dashboard/WordsGraph.tsx
  src/components/MyPage/ScrapVideo/ScrapVideo.tsx
  src/components/MyPage/ScrapVideo/SideModal.tsx
  src/components/PlayerInfo/PlayerInfo.tsx
  src/components/Script/Script.tsx
  src/components/Script/Styles.ts
  src/recoil/states.ts
  src/recoil/types.ts
Labels: fix, feat, Test
